<th:block th:fragment="subMenuFragment">
    <div class="p-4 space-y-2">
        <h2 class="text-xl font-semibold mb-2">마이페이지</h2>
        <hr class="mb-2 border-gray-300"/>
        <ul class="space-y-1 text-gray-700">
            <li><a href="/member/main" class="hover:text-gray-500 border-bottom border-gray-500"> 메인</a></li>
            <li><a href="/member/myPage" class="hover:text-gray-500 border-bottom border-gray-500"> 회원 정보</a></li>
            <li><a href="/member/child" class="hover:text-gray-500 border-bottom border-gray-500"> 아이 정보</a></li>
            <li><a href="#" class="hover:text-gray-500 border-bottom border-gray-500"> 문진 이력</a></li>
            <li><a href="#" class="hover:text-gray-500 border-bottom border-gray-500"> 포인트 조회</a></li>
            <li><a href="/qnaList" class="hover:text-gray-500 border-bottom border-gray-500"> 문의 내역</a></li>
        </ul>
    </div>
</th:block>
