    <form id="album-form">
        <input type="text" name="title" id="title" placeholder="제목 입력">
        <input type="file" name="file" id="fileInput" accept="image/*">
        <input type="hidden" name="id" id="id" value="6">
        <button type="submit" id="formBtn">앨범 썸네일 업로드</button>
    </form>
    <div id="result"></div>

<script>
    document.querySelector("#album-form").addEventListener("submit", async (e) => {
        e.preventDefault();

        const fileInput = document.querySelector("#fileInput");
        const file = fileInput.files[0];
        const result = document.querySelector("#result");

        const id = document.querySelector("#id").value;
        const title = document.querySelector("#title").value;

        if(!file) {
            alert("업로드할 파일을 선택해주세요");
            return;
        }

        const formData = new FormData();
        formData.append("id", id);
        formData.append("title", title);
        formData.append("file", file);

        const res = await fetch("/api/album-create", {
            method: "POST",
            body: formData
        });

        const data = await res.json();

        if (!data.url) {
            result.innerHTML = `<p class="text-red-600 font-semibold">서버로부터 업로드 URL을 받지 못했습니다.</p>`;
            return;
        }

        const uploadUrl = data.url;

        // 생성된 업로드 url을 통해 파일 업로드 요청
        const uploadRes = await fetch(uploadUrl, {
            method: "PUT",
            headers: {
                "Content-Type": file.type
            },
            body: file
        });

        // 업로드 결과에 따라 결과 문구 출력
        if(uploadRes.ok) {
            result.innerHTML = `<p class="text-green-600 font-semibold">Upload Seccess</p>`;
        }else {
            result.innerHTML = `<p class="text-red-600 font-semibold">Upload Fail!</p>`;
        }
    })
</script>