<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Fontawesome 연결 Embed Code Start-->
    <script src="https://kit.fontawesome.com/0f39c44f6d.js" crossorigin="anonymous"></script> <!-- Fontawesome 연결 -->
    <!-- Fontawesome 연결 Embed Code End-->
    <link th:href="@{css/default.css}" rel="stylesheet" >
    <title>Doctor Join Form</title>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
            <!-- 제목 -->
            <h2 class="text-2xl font-semibold text-center mb-3">의사 회원가입</h2>
            <!-- 이메일 로그인 섹션 -->
            <div class="space-y-4 mb-3">
                <input type="email" placeholder="아이디(이메일)" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-400" />
                <input type="password" placeholder="비밀번호" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-400" />
                <input type="password" placeholder="비밀번호 확인" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-400" />
                <input type="text" placeholder="사용자 이름" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-400" />
                <input type="text" placeholder="의사 인증하세요 노인증 노믿" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-400" />
            </div>     
        <!-- 의사 로그인 버튼 -->
        <div class="border my-3"></div>
        <button class="w-full mb-3 border border-gray-300 rounded px-4 py-2 focus:outline-none 
            hover:border-gray-400 hover:bg-gray-100 hover:cursor-pointer" >회원가입</button>
        <!-- 부가 링크 -->
        <div class="text-sm text-center text-gray-600">
            <p class="mb-2">
                계정이 있으신가요?
                <a href="/doctorLoginForm.html" class="text-blue-600 hover:underline">로그인</a>
            </p>
            <div class="flex justify-center space-x-2 text-xs text-gray-500">
                <a href="/find-id" class="hover:underline">아이디 찾기</a>
                <span>|</span>
                <a href="/reset-password" class="hover:underline">비밀번호 재설정</a>
            </div>
        </div>
    </div>
    </div>
      
</body>
</html>