<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Expert Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-50 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md text-center">
    <h1 class="text-4xl font-semibold mb-4">👨‍ Expert Page</h1>
            <div class="mt-6">
              <div id="photoGrid" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
                            <img th:src="${licenseImageUrl}"
                            alt="자격증 이미지"
                            class="modal-trigger w-full h-full object-cover transition-transform duration-300 hover:scale-105">
              </div>
          </div>
    <p class="mb-6">ROLE_EXPERT 권한을 가진 사용자 전용 페이지입니다.</p>
    <a th:href="@{/main}" class="inline-block bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600">
      메인으로
    </a>
  </div>
</body>
</html>

