<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="text-center bg-gray-100 h-[330px] content-center">
        <h2 class="pb-3 text-2xl">서비스 소개</h2>
        <p class="pb-7">서비스 설명</p>
        <div class="space-x-5">
            <button class="bg-blue-500 text-white p-3 rounded-lg w-[150px] hover:bg-blue-600">문진표 작성하기</button>
            <button class="bg-blue-500 text-white p-3 rounded-lg w-[150px] hover:bg-blue-600">진단 요청하기</button>
        </div>
    </div>

    <div class="flex h-[350px] mt-10 content-center justify-center space-x-16">
        <div class="text-center content-center h-[300px] w-[300px] bg-blue-100">
            <h3 class="mb-3 text-lg">서비스 제목01</h3>
            <p class="mb-5 text-sm">서비스 자세한 설명01</p>
            <button class="bg-blue-500 text-white p-3 rounded-lg w-[150px] hover:bg-blue-600">서비스 이동하기</button>
        </div>
        <div class="text-center content-center h-[300px] w-[300px] bg-blue-200">
            <h3 class="mb-3 text-lg">서비스 제목02</h3>
            <p class="mb-5 text-sm">서비스 자세한 설명02</p>
            <button class="bg-blue-500 text-white p-3 rounded-lg w-[150px] hover:bg-blue-600">서비스 이동하기</button>
        </div>
        <div class="text-center content-center h-[300px] w-[300px] bg-blue-300">
            <h3 class="mb-3 text-lg">서비스 제목03</h3>
            <p class="mb-5 text-sm">서비스 자세한 설명03</p>
            <button class="bg-blue-500 text-white p-3 rounded-lg w-[150px] hover:bg-blue-600">서비스 이동하기</button>
        </div>
    </div>


    <div class="flex justify-center mt-6 space-x-6">

        <!-- 테스트 할 때마다 링크 치기 불편해서 만든 임시 버튼 -->

        <a href="/admin/point" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            포인트 지급
        </a>
        <a href="/admin/notification/form" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            알림 메시지 발송
        </a>
        <a href="/admin/surveys/record" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            기록 문진 관리
        </a>
        <a href="/survey/record" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            기록 문진 작성
        </a>
        <a href="/survey/record/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            문진 이력 보기
        </a>
        <a href="/admin/surveys/record/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            관리자 이력 보기
        </a>
    </div>

    <div class="flex justify-center mt-6 space-x-6">

        <!-- 테스트 할 때마다 링크 치기 불편해서 만든 임시 버튼 -->

        <a href="/dailySurvey" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            데일리 문진하기
        </a>
        <a href="/dailyAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            데일리 문진 응답 조회
        </a>
        <a href="/groupSurvey" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그룹 문진하기
        </a>

        <a href="/groupAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그룹 문진 응답 조회
        </a>
        <a href="/specialSurvey" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특별 문진하기
        </a>
        <a href="/specialAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특별 문진 응답 조회
        </a>
        <!-- [수정] a 태그를 올바르게 닫도록 수정 -->
        <a href="/admin/surveys/group" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그룹 문진 관리
        </a>
        <a href="/admin/surveys/special" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특별 문진 관리
        </a>

    </div>

    <div class="flex justify-center mt-6 space-x-6">

        <!-- 테스트 할 때마다 링크 치기 불편해서 만든 임시 버튼 -->

        <a href="/surveySets" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            문진 세트 메인 페이지
        </a>
        <a href="/surveySets/create?type=GROUP" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그룹 문진 세트 생성
        </a>
        <a href="/surveySets/create?type=SPECIAL" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특별 문진 세트 생성
        </a>
        <a href="/admin/surveys/daily" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            관리자 - 데일리 문진 목록
        </a>
        <a href="/admin/surveys/daily/new" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            관리자 - 데일리 문진 생성
        </a>
        <a href="/albumList" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            앨범
        </a>
    </div>

    <div class="flex justify-center mt-6 space-x-6">

        <!-- 테스트 할 때마다 링크 치기 불편해서 만든 임시 버튼 -->

        <a href="/manager/notification/form" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            담당자 문진 알림 발송
        </a>
        <a href="/dailyAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            데
        </a>
        <a href="/groupSurvey" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그
        </a>

        <a href="/groupAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            그
        </a>
        <a href="/specialSurvey" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특
        </a>
        <a href="/specialAnswer/history" class="bg-blue-500 text-white p-3 rounded-lg w-[150px] text-center hover:bg-blue-600">
            특
        </a>
    </div>

</th:block>
</html>
