<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="max-w-5xl mx-auto p-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">1:1 문의</h1>
        <div class="relative p-4 mb-6">
            <div class="absolute top-0 right-0 m-3 inline-flex items-center space-x-4">
                <button id="albumCreateBtn" class="text-blue-500 text-3xl hover:text-blue-600">
                    문의하기
                </button>
            </div>
        </div>
        <hr class="mb-8 border-gray-300">


    </div>
    <script>

    </script>
</th:block>
</html>