<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>문진표</title>

</head>

<th:block layout:fragment="content">
    <div class="flex max-w-6xl mx-auto mt-10 space-x-10">
        <!-- 왼쪽 서브메뉴 -->
        <div th:replace="fragments/submenu01 :: submenuFragment"></div>

        <!-- 오른쪽 메인 콘텐츠 -->
        <div class="flex-1 bg-white shadow-md rounded-lg p-8">
            <h2 class="text-2xl font-bold mb-6 text-center">문진표</h2>

            <div class="flex justify-center space-x-6">
                <a href="/questionnaire01"
                   class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg">
                    건강 검진 문진표
                </a>
                <a href="/questionnaire02"
                   class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg">
                    주요 질병 문진표
                </a>
            </div>
        </div>
    </div>
</th:block>
</html>
