
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;">
    <div id="submenu01"></div>
        <div style="padding-left: 40px; border-left: 3px solid #ccc;"> 
            <h1>주요 질병 문진표</h1>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <p>어쩌고 저쩌고</p>
            <button>주요 질병 문진표 작성하기</button>
        </div>
    </div>
</body>

<script>
fetch("submenu01.html")
  .then(response => response.text())
  .then(data => {
    document.getElementById("submenu01").innerHTML = data;
  });
</script>
</html>