<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #sub_menu {	width: 250px; float: left; margin: 20px 0;}
    </style>
</head>
<body>
    <nav id="sub_menu">
        <h3 style="text-align: center;">문 진 표</h3>
        <hr>
        <ul>
            <li style = list-style:none;><a href="questionnaire01.html">건강 검진 문진표</a></li> 
            <li style = list-style:none;><a href="questionnaire02.html">주요 질병 문진표</a></li> 
            <li style = list-style:none;><a href="">작성 이력 보기</a></li> 
        </ul>
    </nav>

</body>
</html>