<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="max-w-7xl mx-auto bg-white shadow p-6 mt-8 mb-8 rounded">
        <h1 class="text-2xl font-bold mb-4">[[${managerDTO.name}+'님']] 자녀🐣</h1>
        <th:block th:if="${hasChildren}">
            <table class="min-w-full bg-white text-center">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm">
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">그룹이름</th>
                        <th class="px-4 py-2">이름</th>
                        <th class="px-4 py-2">별명</th>
                        <th class="px-4 py-2">생년월일</th>
                        <th class="px-4 py-2">나이</th>
                        <!-- <th class="px-4 py-2">연령대</th> -->
                        <th class="px-4 py-2">위험군</th>
                        <th class="px-4 py-2">키/몸무게</th>
                        <th class="px-4 py-2">성별</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="child : ${result.dtoList}" class="border-b">
                        <td class="px-4 py-2" th:text="${child.id}">1</td>
                        <td class="px-4 py-2" th:text="${managerDTO.groupName}">1</td>
                        <td class="px-4 py-2" th:text="${child.name}">홍길동</td>
                        <td class="px-4 py-2" th:text="${child.nickname}">길동이</td>
                        <td class="px-4 py-2" th:text="${#temporals.format(child.birthday, 'yyyy년MM월dd일')}">2022-01-01</td>
                        <td class="px-4 py-2" th:text="${child.age}+세">3</td>
                        <!-- <td class="px-4 py-2">
                            <span th:switch="${child.ageGroup}">
                                <span th:case="'AGE_0_12'" class="px-2 py-1 bg-blue-100 text-blue-800 rounded-full text-xs">0-12개월</span>
                                <span th:case="'AGE_1_2'" class="px-2 py-1 bg-green-100 text-green-800 rounded-full text-xs">1-2세</span>
                                <span th:case="'AGE_3_4'" class="px-2 py-1 bg-yellow-100 text-yellow-800 rounded-full text-xs">3-4세</span>
                                <span th:case="'AGE_5'"   class="px-2 py-1 bg-red-100 text-red-800 rounded-full text-xs">5세 이상</span>
                            </span>
                        </td> -->
                        <td class="px-4 py-2">
                            <span th:if="${child.riskGroup}"
                            class="px-2 py-1 bg-red-500 text-white rounded-full text-xs">위험</span>
                            <span th:unless="${child.riskGroup}"
                            class="px-2 py-1 bg-gray-200 text-gray-600 rounded-full text-xs">정상</span>
                        </td>
                        <td class="px-4 py-2" th:text="${child.height} + ' / ' + ${child.weight}">120cm / 20kg</td>
                        <td class="px-4 py-2" th:text="${child.gender}">F</td>
                    </tr>
                </tbody>
            </table>
            <!-- 페이징 -->
            <div class="mt-4 flex justify-center gap-2" id="pagination">
                <!-- 첫페이지 -->
                <a th:if="${result.page > 1}"
                   th:href="@{/admin/manager/{id}/children(id=${managerDTO.id},
                                                            page=1,
                                                            size=${result.size})}"
                   class="px-3 py-1 rounded bg-gray-200 text-[#E3A67A] hover:bg-[#E3A67A] hover:text-white transition">
                    <i class="fas fa-angle-double-left"></i>
                </a>

                <!-- ◀ 이전 페이지 -->
                <a th:if="${result.page > 1}"
                    th:href="@{/admin/manager/{id}/children(id=${managerDTO.id},
                                                            page=${result.page - 1},
                                                            size=${result.size})}"
                    class="px-3 py-1 rounded bg-gray-200 text-[#E3A67A] hover:bg-[#E3A67A] hover:text-white transition">
                    <i class="fas fa-angle-left"></i>
                </a>

                <!-- 페이지 번호 목록 -->
                <a th:each="p : ${result.pageList}"
                    th:text="${p}"
                    th:href="@{/admin/manager/{id}/children(id=${managerDTO.id},
                                                            page=${p},
                                                            size=${result.size})}"
                    th:classappend="${p == result.page} ? 'bg-[#E3A67A] text-white' : 'bg-gray-200 text-[#E3A67A]'"
                    class="px-3 py-1 rounded hover:bg-[#E3A67A] hover:text-white transition">
                </a>

                <!-- ▶ 다음 페이지 -->
                <a th:if="${result.endPage < result.totalPages}"
                    th:href="@{/admin/manager/{id}/children(id=${managerDTO.id},
                                                            page=${result.endPage + 1},
                                                            size=${result.size})}"
                    class="px-3 py-1 rounded bg-gray-200 text-[#E3A67A] hover:bg-[#E3A67A] hover:text-white transition">
                    <i class="fas fa-angle-right"></i>
                </a>

                <!-- 마지막 페이지 -->
                <a th:if="${result.page != result.totalPages}"
                   th:href="@{/admin/manager/{id}/children(id=${managerDTO.id},
                                                            page=${result.endPage},
                                                            size=${result.size})}"
                   class="px-3 py-1 rounded bg-gray-200 text-[#E3A67A] hover:bg-[#E3A67A] hover:text-white transition">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </th:block>
        <th:block th:unless="${hasChildren}">
            <div class="text-center text-gray-500 text-lg py-10">
                <i class="fas fa-child fa-2x mb-2"></i><br>
                자녀가 없습니다.
            </div>
        </th:block>
        
    </main>

</div>

    <div id="toast-container" class="fixed inset-x-0 top-0 z-50 space-y-3 text-center"></div>
</th:block>
</html>
